[submodule "Complete-Striped-Smith-Waterman-Library"]
	path = Complete-Striped-Smith-Waterman-Library
	url = https://github.com/mengyao/Complete-Striped-Smith-Waterman-Library.git
[submodule "Mash"]
	path = Mash
	url = https://github.com/marbl/Mash.git
